<script>
$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
    var i = 1;
    while ($('#key' + i).length > 0) {
      $('#key' + i).editable();
      i = i + 1;
    }
});
</script>
<fieldset>
  <legend>All Entries</legend>
  <div>
    <%= link_to "Add new entry", new_entry_path %> 
  </div>
  <div>
    <label>Search: </label><input type='text' />
  </div>
  <div>
    <table>
      <tr>
        <th>Key</th>
        <th>Owner</th>
        <th>User</th>
        <th>Password</th>
        <th>Category</th>
        <th>Comments</th>
      </tr>

      <% idx = 1 %>
      <% @entries.each do |e| %>
        <tr>
          <td><a href='#' id='key<%= idx %>' class='editable editable-click' style='display:inline'><%= e.key %></a></td>
          <td><%= e.owner %></td>
          <td><%= e.user %></td>
          <td><%= e.password %></td>
          <td><%= e.category %></td>
          <td><%= e.comments %></td>
        </tr>
        <% idx = idx + 1 %>
      <% end %>
    </table>
  </div>
</fieldset>
