<p>
  <strong>Key:</strong>
  <%= @entry.key %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @entry.owner %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @entry.password %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category %>
</p>



<p>
  <strong>Comments:</strong>
  <%= @entry.comments %>
</p>

<%= link_to 'Back', entries_path %>
